:root {
  --main-text-color-white: #fff;
  --main-text-color-blueBlack: #222222;
  --main-text-color-p: #525252;
  --main-bg-color-footer: #1B1B1B;
  --main-color-orange:#DC7000;
  /* --main-font-size : 16px; */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  overflow-x: hidden;
  line-height: 187.5%;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1335px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.hedaer-top__text {
  font-size: 10px;
  line-height: 15px;
  color: #1A1A1A;
}
.hedaer-top__text:nth-child(1) {
  margin-right: 100px;
}
.hedaer-top__text::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 15px;
  background-image: url("../../images/lokation.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hedaer-top__text:nth-child(2)::before {
  margin-right: 6px;
  background-image: url("../../images/telephone.svg");
}

.site-header {
  background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.nav-item:nth-child(1)::before {
  margin-right: 7px;
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../../images/cricle.svg");
  background-repeat: no-repeat;
}

.header-btn {
  margin-top: 15px;
  margin-bottom: 13px;
  width: 131px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 10px 11px 10px;
  border-radius: 6px;
  color: var(--main-color-orange);
}
.header-btn:hover {
  color: var(--main-color-orange);
}

.nav-mobli {
  padding: 20px 0;
}

.burgermenu {
  border: none;
  background-color: transparent;
  width: 26px;
  height: 21px;
  background-image: url("../../images/burger-menu.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.burgermenu-show {
  background-image: url("../../images/burger-menu.svg");
}

.navbar-mobile {
  position: absolute;
  top: 10%;
  margin: 0 auto;
  width: 80%;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.navbar-mobile-show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
  .navbar-mobile {
    position: static;
    width: auto;
    margin: 0;
  }
  .nav-link {
    margin-right: 20px;
    padding: 0;
  }
  .navbar-mobile {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform 0s ease;
    transition: -webkit-transform 0s ease;
    transition: transform 0s ease;
    transition: transform 0s ease, -webkit-transform 0s ease;
  }
}
@media only screen and (min-width: 870px) {
  .nav-item:nth-child(1) {
    margin-right: 87px;
  }
  .nav-item:nth-child(2) {
    margin-right: 74px;
  }
  .nav-item:nth-child(3) {
    margin-right: 64px;
  }
  .nav-item:nth-child(4) {
    margin-right: 68px;
  }
  .nav-link {
    margin-right: 0;
  }
}
.hero {
  background-image: url("../../images/bg-header-line.png");
  background-size: 100% 180px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-wrap {
  padding-top: 108px;
  padding-bottom: 108px;
}

.hero-title {
  font-size: 34px;
  line-height: 155.2%;
  margin-top: 31px;
}

.hero-strong {
  font-size: 16px;
  line-height: 155.2%;
  color: #E87D0E;
}

.hero-text {
  margin-top: 28px;
  font-weight: 500;
  line-height: 200%;
}

.hero-link {
  margin-top: 35px;
  width: 100%;
  max-width: 195px;
  padding: 14px 10px 15px 10px;
  background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
  border-radius: 40px;
  font-weight: 500;
  line-height: 24px;
}

@media only screen and (min-width: 468px) {
  .hero-wrap {
    margin-left: 31px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-wrap {
    width: 100%;
    max-width: 527px;
    margin-left: 85px;
    padding-top: 128px;
    padding-bottom: 158px;
  }
  .hero {
    background-image: url("../../images/hero-img-bg.png");
    background-size: cover;
    background-position: center;
  }
  .hero-wrap {
    width: 100%;
    margin-left: 71px;
    padding-top: 128px;
    padding-bottom: 158px;
  }
  .hero-title {
    font-size: 50px;
    margin-top: 17px;
  }
  .hero-strong {
    font-size: 20px;
  }
  .hero-text {
    margin-top: 26px;
  }
  .hero-link {
    margin-top: 50px;
  }
}
.business-title {
  color: var(--main-text-color-blueBlack);
  font-size: 16px;
}

.business-wrap {
  margin-top: 48px;
}

.business-text-wrap {
  max-width: 545px;
}

.business-text-title {
  font-size: 30px;
  margin-bottom: 32px;
}

.business-text,
.service-text {
  color: var(--main-text-color-p);
}

.business-img {
  padding-top: 42px;
  width: 100%;
  margin-left: -20px;
}

@media only screen and (min-width: 650px) {
  .business-title-wrap {
    max-width: 500px;
  }
  .business-wrap {
    margin-top: 83px;
    margin-left: 71px;
  }
}
@media only screen and (min-width: 1000px) {
  .business-title-wrap {
    max-width: 826px;
  }
  .business-title {
    font-size: 25px;
  }
  .business-img {
    padding-top: 0;
    margin-left: 0;
    width: 100%;
    max-width: 934px;
    height: 462px;
  }
}
.services-wrap {
  margin-top: 101px;
  max-width: 1045px;
}

.services-title {
  margin-bottom: 18px;
  font-size: 20px;
}

.services-text {
  color: var(--main-text-color-p);
  font-size: 12px;
}

.services-list {
  padding-top: 106px;
  padding-bottom: 108px;
}

.services-item {
  margin-top: 66px;
}
.services-item:nth-child(1) {
  margin-top: 0;
}
.services-item::before {
  margin: 0 auto;
  margin-bottom: 30px;
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  background-image: url("../../images/moble.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.services-item .services-link::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 18px;
  background-image: url("../../images/arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.services-item:nth-child(2)::before {
  background-image: url("../../images/game pc.svg");
}
.services-item:nth-child(3)::before {
  background-image: url("../../images/ps4.svg");
}
.services-item:nth-child(4)::before {
  background-image: url("../../images/arvr.svg");
}
.services-item:nth-child(5)::before {
  background-image: url("../../images/arvrdesegen.svg");
}
.services-item:nth-child(6)::before {
  background-image: url("../../images/3dmifil.svg");
}

.services-item-text {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .services-wrap {
    margin-top: 165px;
  }
  .services-list {
    padding-top: 100px;
    padding-bottom: 133px;
  }
  .services-item {
    margin-top: 63px;
  }
  .services-item:nth-child(2) {
    margin-top: 0;
  }
  .services-text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  .services-title {
    margin-bottom: 24px;
    font-size: 25px;
  }
  .services-item:nth-child(3) {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .services-item:nth-child(4) {
    margin-top: 0;
  }
}
.carusel-wrapper {
  background-color: #F5F5F5;
  padding-top: 55px;
  padding-bottom: 140px;
}

.carusel-text-wrap {
  margin-bottom: 65px;
  max-width: 545px;
}

.carusel-title {
  margin-bottom: 32px;
}

.carusel-text {
  color: var(--main-text-color-p);
}

.card-link:after {
  margin-left: 12px;
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../../images/arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  margin-right: 38px;
  padding: 30px 31px 24px 28px;
  max-width: 299px;
  -webkit-box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.one {
  background: rgba(12, 190, 100, 0.15);
  color: #0CBE64;
}

.two {
  background: rgba(220, 0, 0, 0.1);
  color: #DC0000;
}

.thre {
  color: #B000DC;
  background: rgba(176, 0, 220, 0.11);
}

.foor {
  background: rgba(0, 88, 220, 0.09);
  color: #0058DC;
}

.card-text-span {
  margin-bottom: 19px;
  padding: 7px 35px 6px 14px;
  font-size: 14px;
  border-radius: 8px;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.card-text {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--main-text-color-p);
}

.card-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color-orange);
}

@media only screen and (min-width: 400px) {
  .card {
    max-width: 378px;
    padding: 35px 39px 39px 35px;
  }
}
@media only screen and (min-width: 768px) {
  .carusel-wrapper {
    padding-top: 69px;
    padding-bottom: 100px;
  }
  .carusel-card {
    margin-left: 71px;
  }
  .card-text {
    margin-bottom: 28px;
    font-size: 14px;
  }
}
.projects {
  padding-top: 60px;
  padding-bottom: 103px;
}

.projects-text-wrap {
  max-width: 497px;
}

.projects-title {
  font-size: 20px;
  margin-bottom: 23px;
  color: var(--main-text-color-blueBlack);
}

.projects-text {
  margin-bottom: 48px;
  color: var(--main-text-color-p);
  font-size: 12px;
}

.projects-item {
  margin-top: 28px;
}

.projects-grid {
  width: 100%;
  max-width: 1170px;
}

.projects-img {
  width: 100%;
}

.projects-img-center {
  max-width: 246px;
  height: 223px;
}

.projects-img-center-center {
  max-width: 401px;
}

@media only screen and (min-width: 400px) {
  .projects-img-top {
    max-width: 382px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .projects-title {
    font-size: 25px;
    margin-bottom: 18px;
  }
  .projects-text {
    margin-bottom: 71px;
    font-size: 14px;
  }
  .projects {
    padding-top: 141px;
    padding-bottom: 99px;
  }
  .projects-img-bottom {
    max-width: 469px;
    width: 100%;
  }
  .projects-item {
    margin-top: 0;
  }
}
.blok {
  padding-bottom: 49px;
}

.blok-img {
  width: 100%;
}

.blok-title {
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.blok-text {
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 20px;
  color: #515151;
}

.blok-text-two {
  margin-bottom: 46px;
  font-size: 12px;
  line-height: 18px;
  color: #515151;
}

.blok-link {
  margin-bottom: 66px;
  display: inline-block;
  padding: 13px 10px;
  width: 177px;
  background-color: var(--main-color-orange);
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (min-width: 700px) {
  .blok {
    padding-top: 65px;
    padding-bottom: 125px;
  }
  .blok-img {
    max-width: 651px;
  }
  .blok-text-wrap {
    max-width: 536px;
  }
  .blok-title {
    margin-top: 60px;
    margin-bottom: 43px;
    font-size: 30px;
    line-height: 45px;
  }
  .blok-text,
.blok-text-two {
    font-size: 17px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .blok-link {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1230px) {
  .blok-text-wrap {
    margin-left: 67px;
  }
}
.site-article {
  max-width: 1170px;
}

.site-article-wrapper-text {
  max-width: 545px;
}

.site-article-title {
  margin-bottom: 13px;
  font-size: 20px;
  color: var(--main-text-color-blueBlack);
}

.site-article-text {
  margin-bottom: 41px;
  font-size: 12px;
  color: var(--main-text-color-p);
}

.site-article-form {
  padding: 30px 27px 23px 21px;
  background: #1B1B1B;
  border-radius: 15px;
}

.article-form-text-wrap {
  max-width: 525px;
}

.article-form-title {
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 45px;
}

.article-form-text {
  margin-bottom: 43px;
  font-size: 15px;
  line-height: 22px;
}

form {
  max-width: 275px;
  position: relative;
}

.article-input {
  padding: 13px 15px;
  max-width: 275px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 20px;
  color: #898989;
}

.article-btn {
  position: absolute;
  top: calc(13% + 0px);
  right: 2%;
  width: 104px;
  padding: 7px 11px 10px 16px;
  background: #DC7000;
  border-radius: 8px;
  font-size: 13px;
  line-height: 20px;
}

@media only screen and (min-width: 786px) {
  .article-form-text {
    font-size: 17px;
    line-height: 26px;
  }
  .site-article-title {
    margin-bottom: 32px;
    font-size: 30px;
  }
  .site-article-text {
    margin-bottom: 74px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .article-form-title {
    margin-bottom: 10px;
  }
  .site-article-form {
    padding: 40px 50px 42px 56px;
  }
  .article-form-text {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 26px;
  }
  form {
    margin-top: 31px;
    max-width: 385px;
  }
  .article-input {
    padding: 14px 20px;
    max-width: 385px;
  }
  .article-btn {
    top: calc(8% + 0px);
    padding: 8px 9px 13px 16px;
  }
}/*# sourceMappingURL=main.css.map */