:root{
    --main-text-color-white : #fff; 
    --main-text-color-blueBlack : #222222; 
    --main-text-color-p : #525252; 
    --main-bg-color-footer : #1B1B1B;
    --main-color-orange:#DC7000;
    /* --main-font-size : 16px; */
}