.site-article{
    max-width: 1170px;
}.site-article-wrapper{
    
}
.site-article-wrapper-text {
    max-width: 545px;
}
.site-article-title {
    margin-bottom: 13px;
    font-size: 20px;
    color: var(--main-text-color-blueBlack);
}
.site-article-text {
    margin-bottom: 41px;
    font-size: 12px;
    color: var(--main-text-color-p);
}
.site-article-form {
    padding: 30px 27px 23px 21px;
    background: #1B1B1B;
    border-radius: 15px;
}
.site-article-form-wrap {
}
.article-form-text-wrap {
    max-width: 525px;
}
.article-form-title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 45px;
}
.article-form-text {
    margin-bottom: 43px;
    font-size: 15px;
    line-height: 22px;
}
form{
    max-width: 275px;
    position: relative;
}
.article-input{
    padding: 13px 15px;
    max-width: 275px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    color: #898989;
}
.article-btn{
    position: absolute;
    top: calc(13% + 0px) ;
    right: calc(2%);
    width: 104px;
    padding: 7px 11px 10px 16px;
    background: #DC7000;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
}
@include mobile-first(786px){
    .article-form-text {
        font-size: 17px;
        line-height: 26px;
    }
    .site-article-title {
        margin-bottom: 32px;
        font-size: 30px;
    }
    .site-article-text {
        margin-bottom: 74px;
        font-size: 16px;
    }
}
@include mobile-first(992px){
    .article-form-title {
        margin-bottom: 10px;
    }
    .site-article-form {
        padding: 40px 50px 42px 56px;
    }
    .article-form-text {
        margin-bottom: 0;
        font-size: 17px;
        line-height: 26px;
    }
    form{
        margin-top: 31px;
        max-width: 385px;
    }
    .article-input{
        padding: 14px 20px;
        max-width: 385px;
    }
    .article-btn{
        top: calc(8% + 0px) ;
        padding: 8px 9px 13px 16px;
        
    }
}