.busness_title{
    color: var(--main-text-color-blueBlack);
    font-size: 16px;
}
.busness-wrap{
    margin-top: 48px;
}
.busness-text-wrap{
    max-width: 545px;
}
.busness-text-title{
    font-size: 30px;
    margin-bottom: 32px;
}
.busness-text,
.service-text{
    color: #525252;
}
.busnes-img{
    padding-top: 42px;
    width: 100%;
    margin-left: -20px;
}
@media only screen and (min-width:650px){
    .busness_title-wrap{
        width: 100%;
        max-width: 500px;
    }
    .busness-wrap{
        margin-top: 83px;
        margin-left: 71px;
    }
}
@media only screen and (min-width:1000px){
    .busness_title-wrap{
        max-width: 826px;
    }
    .busness_title{
        font-size: 25px;
    }
    .busnes-img{
        padding-top: 0;
        margin-left: 0;
        width: 100%;
        max-width: 934px;
        height: 462px;
    }
}