.business-title{
    color: var(--main-text-color-blueBlack);
    font-size: 16px;
}
.business-wrap{
    margin-top: 48px;
}
.business-text-wrap{
    max-width: 545px;
}
.business-text-title{
    font-size: 30px;
    margin-bottom: 32px;
}
.business-text,
.service-text{
    color: var(--main-text-color-p);
}
.business-img{
    padding-top: 42px;
    margin-left: -20px;
}
@include mobile-first (650px){
    .business-title-wrap{
        max-width: 500px;
    }
    .business-wrap{
        margin-top: 83px;
        margin-left: 71px;
    }
}
@include mobile-first (1000px){
    .business-title-wrap{
        max-width: 826px;
    }
    .business-title{
        font-size: 25px;
    }
    .business-img{
        padding-top: 0;
        margin-left: 0;
        max-width: 934px;
        height: 462px;
    }
}