.hedaer-top__text {
    font-size: 10px;
    line-height: 15px;
    color: #1A1A1A;
    &:nth-child(1){
        margin-right: 100px;
    }
    &::before{
        margin-right: 12px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 15px;
        background-image: url("../../images/lokation.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &:nth-child(2)::before{
        margin-right: 6px;
        background-image: url("../../images/telephone.svg");
    }
}
.site-header{
    background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}
.nav-item{
    &:nth-child(1)::before{
        margin-right: 7px;
        content: '';
        display: inline-block;
        width: 11px;
        height:11px;
        background-image: url("../../images/cricle.svg");
        background-repeat: no-repeat;
    }
}
.header-btn{
    margin-top: 15px;
    margin-bottom: 13px;
    width: 131px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 10px 11px 10px;
    border-radius: 6px;
    color: var(--main-color-orange);
    &:hover{
        color: var(--main-color-orange);
    }
}
.nav-mobli{
    padding: 20px 0;
}
.burgermenu{
    border: none;
    background-color: transparent;
    width: 26px;
    height: 21px;
    background-image: url("../../images/burger-menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.burgermenu-show{
    background-image: url("../../images/burger-menu.svg");
}
.navbar-mobile{
    position: absolute;
    top: 10%;
    margin: 0 auto;
    width: 80%;
    transform: translateY(-150%);
    transition: transform 0.5s ease;
    background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}
.navbar-mobile-show{
    transform: translateY(0%);
}
@include mobile-first (768px){
    .navbar-mobile{
        position: static;
        width: auto;
        margin: 0;
    }
    .nav-link{
        margin-right: 20px;
        padding: 0;
    }
    .navbar-mobile{
        transform: translateY(0%);
        transition: transform 0s ease;
    }
}
@include mobile-first (870px){
    .nav-item{
        &:nth-child(1){
            margin-right: 87px;
        }
        &:nth-child(2){
            margin-right: 74px;
        }
        &:nth-child(3){
            margin-right: 64px;
        }
        &:nth-child(4){
            margin-right: 68px;
        }
    }
    .nav-link{
        margin-right: 0;
    }
}