.hero{
    background-image: url("../../images/bg-header-line.png");
    background-size: 100% 180px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.hero-wrap{
    padding-top: 108px;
    padding-bottom: 108px;
} 
.hero-title{
    font-size: 34px;
    line-height: 155.2%;
    margin-top: 31px;
}
.hero-strong{
    font-size: 16px;
    line-height: 155.2%;
    color: #E87D0E;
}
.hero-text{
    margin-top: 28px;
    font-weight: 500;
    line-height: 200%;
}
.hero-link{
    margin-top: 35px;
    width: 100%;
    max-width: 195px;
    padding: 14px 10px 15px 10px;
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    border-radius: 40px;
    font-weight: 500;
    line-height: 24px;
}

@media only screen and (min-width:468px){
    .hero-wrap{
        margin-left: 31px;
    } 
}
@media only screen and (min-width:768px){
    .hero-wrap{
        width: 100%;
        max-width: 527px;
        margin-left: 85px;
        padding-top: 128px;
        padding-bottom: 158px;
    }
    .hero{
        background-image: url("../../images/hero-img-bg.png");
        background-size: cover;
        background-position: center;
    }
    .hero-wrap{
        width: 100%;
        margin-left: 71px; 
        padding-top: 128px;
        padding-bottom: 158px;
    } 
    .hero-title{
        font-size: 50px;
        margin-top: 17px;
    }
    .hero-strong{
        font-size: 20px;
    }
    .hero-text{
        margin-top: 26px;
    }
    .hero-link{
        margin-top: 50px;
    }
}