.services-wrap{
    margin-top: 101px;
    max-width: 1045px;
}
.services-title{
    margin-bottom: 18px;
    font-size: 20px;
}
.services-text{
    color: var(--main-text-color-p);
    font-size: 12px;
}
.services-list{
    padding-top: 106px;
    padding-bottom: 108px;
}
.services-item{ 
    margin-top: 66px;
    &:nth-child(1){
        margin-top: 0;
    }
    &::before{
        margin: 0 auto;
        margin-bottom: 30px;
        content: '';
        display:block;
        width: 65px;
        height: 65px;
        background-image: url("../images/moble.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .services-link::before{
        content: '';
        display: inline-block;
        width: 21px;
        height: 18px;
        background-image: url("../images/arrow-left.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:nth-child(2)::before{
        background-image: url("../images/game\ pc.svg");
    }
    &:nth-child(3)::before{
        background-image: url("../images/ps4.svg");
    }
    &:nth-child(4)::before{
        background-image: url("../images/arvr.svg");
    }
    &:nth-child(5)::before{
        background-image: url("../images/arvrdesegen.svg");
    }
    &:nth-child(6)::before{
        background-image: url("../images/3dmifil.svg");
    }
}
.services-item-text{
    margin-bottom: 25px;
}
@include mobile-first (768px){
    .services-wrap{
        margin-top: 165px;
    }
    .services-list{
        padding-top: 100px;
        padding-bottom: 133px;
    }
    .services-item{ 
        &:nth-child(2){
            margin-top: 0;
        }
        margin-top: 63px;
    }
    .services-text{
        font-size: 16px;
    }
}
@include mobile-first (1000px){
    .services-title{
        margin-bottom: 24px;
        font-size: 25px;
    }
    .services-item{ 
        &:nth-child(3){
            margin-top: 0;
        }
    }
}
@include mobile-first (1200px){
    .services-item{ 
        &:nth-child(4){
            margin-top: 0;
        }
    }
}